@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #2c2c2c;
    transition: 0.3s;
}

.content{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #2c2c2c;
    justify-content: center;
    align-items: center;
}

.form_div{
    padding: 20px 0 0;
    width: 500px;
    height: 600px;
    background: #85DB9D;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: space-between;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-form{
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 0.15em
}

.inputs{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: fit-content;
    align-items: center;
    margin-bottom: 10px;
}


.reg_input{
    width: 400px;
    height: 50px;
    padding: 0 20px;
    border: none;
    outline-style: none;
    border-radius: 10px;
    font-size: 18px;
    background: rgb(228, 228, 228);
}

    
.reg_button {
    background: none;
    display: flex;
    justify-content: center;
    padding: 2%;
    align-items: center;
    border: 3px solid #2c2c2c;
    border-radius: 10px;
    font-weight: 700;
    font-size: calc(20px + 5 * (100vw / 1920));
    cursor: pointer;
}

.reg_button:hover{
    background: #2c2c2c;
    color: rgb(228, 228, 228);
}

.nav_btn{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.log{
    padding: 2% 10%;
}

.log_btn{
    color: #2c2c2c;
    text-decoration:underline;
    font-weight: 400;
    display: flex;
    align-items: start;
    height: fit-content;
    font-size: calc(18px + 6 * (100vw / 1920));
    font-weight: 700;
}

.log_btn:hover{
    transform: scale(1.3);
}

.arrow{
    width: 35px;
    height: 35px;
}

.revers{
    transform: rotate(180deg);
}

.error{
    display: flex;
    align-items: end;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0.2em;
    font-weight: 700;
    color: rgb(185, 0, 0);    
}

@media screen and (max-width:535px) {
    .error{
        width: 70vw;
    }
    .form_div {
        width: 90vw;
        height: 80vh;
    }
    .inputs{
        width: 100%;
    }
    .reg_input{
        width: 100%;
        height: 6vh;
    }
}