{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'user_css/user.css' %}">
    <script src="{% static 'user_js/user.js' %}" defer></script>
    <title></title>
</head>

<body>
    <div class="header-profile">
        <h1>Профіль</h1> <span class="close_profile">&Cross;</span>
    </div>
    {% if not request.user.is_authenticated %}
    <div class="unreg_page">
        <img class="unreg_img" src="{% static 'img/header_logo/sad.png' %}" alt="">
        <h1>Ви не увійшли до профілю</h1>
        <div class="button_div">
            <a href="{% url 'reg_page' %}" class="auth-button">Зареєструватись</a>
            <a href="{% url 'login_page' %}" class="auth-button">Увійти</a>
        </div>
    </div>

    {% else %}
    <div class="content_profile">

        <div class="navbar_profile">
            <div class="block_navbar_btn">
                <div class="my_profile"> <img src="{% static 'img/header_logo/profile.png' %}"><span>Мій профіль</span></div>
                <!-- <div class="settings_profile"><img src="{% static 'img/header_logo/setting.png' %}">Налаштування</div> -->
            </div>
            <a class="log-out" href="{% url 'logout' %}"><img src="{% static 'img/header_logo/log-out.png' %}"><span>Вийти</span></a>
        </div>
        <div class="user_pages">
            <div class="profile_page">
                <span class="username_title">Інформація про вас</span>
                <br><br>
                <form method="post" class="edit_form">
                    {% csrf_token %}
                    <input class="swap_confirm_edit" value="{% static 'img/header_logo/confirm_edit.png' %}" hidden>
                    <input class="swap_edit_icon" value="{% static 'img/header_logo/edit.png' %}" hidden>
                    <input class="url_for_swap" value="{% url 'editing_profile' %}" hidden>
                    <span class="username">Повне ім'я: <span><input type="text" name="first_name"
                            value="{{ user.first_name }}" class="edit_input" readonly><img class="edit_icon"
                            src="{% static 'img/header_logo/edit.png' %}"></span></span>
                    <span class="username">Телефон: <span><input type="text" name="phone" value="{{ user.username }}"
                            class="edit_input" readonly><img class="edit_icon"
                            src="{% static 'img/header_logo/edit.png' %}"></span></span>
                    <span class="username">Email: <span><input type="email" name="email" value="{{ user.email }}"
                            class="edit_input" readonly><img class="edit_icon"
                            src="{% static 'img/header_logo/edit.png' %}"></span></span>
                    <span class="username">Адрес: <span><input type="text" name="adress" value="{{ user.last_name }}"
                            class="edit_input" readonly><img class="edit_icon"
                            src="{% static 'img/header_logo/edit.png' %}"></span></span>
                </form>

            </div>
        </div>
    </div>
    {% endif %}

</body>

</html>