{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'basket_css/basket.css' %}">
    <script src="{% static 'basket_js/basket.js' %}" defer></script>

    <title>Document</title>
</head>

<body>
    <div class="header-basket">
        <h1>Кошик</h1> <span class="close_basket">&Cross;</span>
    </div>
    <div class="basket_content">
        {% csrf_token %}
        <input class="delete-product" value="{% url 'delete_from_basket' %}" hidden>

        {% for product_in_basket in products_in_basket %}
        <div id="product_{{product_in_basket.pk}}" class="product_basket">
            <div class="product_info">
                <img src="{{ product_in_basket.product.image.url }}" alt="{{ product_in_basket.product.name }}"
                    class="image_product">
                <div class="name">
                    <a class="product-name"
                        href="{{ product_in_basket.product.get_absolute_url }}">{{product_in_basket.product.name}}</a>
                </div>
            </div>
            <div class="settings_product">
                <input class="change_amount" value="{% url 'change_amount' %}" hidden>
                <input class="product_pk" value="{{product_in_basket.pk}}" hidden>
                <p class="product-amount"><span data-value="-1" class="change_amount minus">&minus;</span> <span
                        class="amount">{{ product_in_basket.amount }}</span> <span data-value="+1"
                        class="change_amount plus">&plus;</span></p>
                <div class="buttons_product">
                    <!-- <button class="product-detail-button" value="{{product_in_basket.pk}}">Детальніше</button> -->
                    <button class="product-remove-button" value="{{product_in_basket.pk}}"><img
                            src="{% static 'img/basket_img/del_basket.png' %}"></button>
                    <input class="default_price" value="{{ product_in_basket.product.price }}" hidden>
                    <p class="product-price"><span class="product-price-basket">{{ product_in_basket.products_price }}</span> &#8372 </p>
                </div>
            </div>

            <!-- <p class="product-description">{{ product_in_basket.product.description }}</p> -->
        </div>

        {% endfor %}


        <div class="buy-modal-window">
            {% if request.user.is_authenticated != True %}
            <div class="close-button">&Cross;</div>
            <h2 class="text-order">Способи оформлення</h2>
            <div class="order-buttons">
                <p><a href="{% url 'ordering' %}" class="order-button one-time-button">Разове оформлення</a></p>
                <p><a href="{% url 'reg_page' %}" class="order-button registration-button">Реєстрація</a></p>
            </div>
            {% endif %}
        </div>
        {% if products_in_basket %}
        <div class="button_block">
            <a class="go_shoping" href="{% url 'menu_page' %}">Продовжити покупки</a>
            <span class="full_price_div">Всього: <span>{{ full_price }}</span>&#8372</span>
            {% if request.user.is_authenticated %}
                <a href="{% url 'ordering' %}" class="buy-button_a">Замовити</a>
            {% else %}
                <button class="buy-button">Замовити</button>
            {% endif %}
        </div>
        {% else %}
        <div class="empty_inner_basket_div">
            <img class="empty_inner_basket" src="{% static 'img/header_logo/empty_inner_basket.png' %}">
            <h1>Кошик порожній</h1>
            <a href="{% url 'menu_page' %}">За покупками</a>
        </div>
        {% endif %}

    </div>

</body>

</html>