.content {
    background: url(../img/bgs/contact_bg.jpg);
    background-size: cover;
    width: 100vw;
    height: 980px;
    align-items: center;
    justify-content: center;
}

.contact_form {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    gap: 50px;
    align-items: center;
    margin: 0;
    max-width: 1700px;
}

.social-media-in-form,
.feedback-form {
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 1%;
    width: 40%;
    justify-content: center;
    font-family: 'Post No Bills Jaffna SemiBold';
    font-style: normal;
    font-weight: 600;
}

.feedback-form {
    align-items: start;
}

.social-media-in-form h2,
.feedback-form h2 {
    font-size: calc(20px + 23 * (100vw / 1920));
    line-height: 57px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.215em;
    color: #FFFFFF;
}

.social-media-in-form h3,
.feedback-form h3 {
    font-size: calc(15px + 13 * (100vw / 1920));
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.215em;
    color: #FFFFFF;
}

.social-media-in-form h3 span,
.feedback-form h3 span {
    padding: 0 0 3px 0;
    border-bottom: 3px solid #85DB9D;
}

.inner-bloks {
    width: 100%;
    margin-top: 5%;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    font-family: 'Post No Bills Jaffna SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: calc(20px + 12 * (100vw / 1920));
    line-height: 48px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.215em;
    color: #FFFFFF;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    font-family: 'Post No Bills Jaffna SemiBold';
    font-style: normal;
    font-weight: 600;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.215em;
    color: #FFFFFF;
    width: 44%;
}

.contact h2,
.social-media h2 {
    display: flex;
    justify-content: start;
    font-size: calc(20px + 15 * (100vw / 1920));
    line-height: 48px;
    margin-bottom: 10%;
}

.contact p,
.social-media p {
    margin-bottom: 10%;
    font-size: calc(10px + 10 * (100vw / 1920));
    ;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.215em;
    width: 90%;
}

.contact p img {
    margin-right: 5%;
}

.social-media {
    justify-content: start;
    align-items: start;
    border-left: 2px solid #85DB9D;
    padding-left: 15px;
    width: 44%;
}

.feedback-form h3 {
    margin-bottom: 3%;
}

.feedback-form input,
textarea {
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 10px 10px 30px;
    gap: 10px;
    width: 100%;
    height: 71px;
    outline: none;
    background: rgba(133, 219, 157, 0.8);
    border-radius: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: calc(20px + 13 * (100vw / 1920));
    line-height: 39px;
    /* identical to box height */
    letter-spacing: 0.215em;
    color: #1f1f1f;
    margin-bottom: 3%;
}

.feedback-form button {
    padding: 10px;
    border: 3px solid #85DB9D;
    border-radius: 13px;
    background: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: calc(15px + 25 * (100vw / 1920));
    line-height: 47px;
    /* identical to box height */
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.23em;
    color: #85DB9D;
    transition: 0.3s;
}


.feedback-form button:hover {
    background: #85DB9D;
    color: #000000;

}

@media screen and (max-width: 1280px) {
    .contact_form {
        gap: 0;
    }

    .social-media-in-form,
    .feedback-form {
        width: 45%;
    }
}

@media screen and (max-width: 1024px) {
    .social-media-in-form {
        display: none;
    }

    .feedback-form {
        width: 60%;
        align-items: center;
    }

    .feedback-form button {
        padding: 0.5% 2%;
    }

    .feedback-form input,
    .feedback-form textarea {
        height: 60px;
    }

    .contact_form {
        height: 100%;
        width: 80vw;
        align-items: center;
        justify-content: center;
    }

    .content {
        background-position: top;
        height: 100vh;
    }

}

@media screen and (max-width: 767px) {
    .feedback-form {
        width: 70%;
    }

    .contact_form {
        height: 100%;
        width: 90vw;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 530px) {
    .feedback-form {
        width: 90%;
    }
}