html {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.face_div {
    background-size: cover;
    background-image: url(../img/bgs/rest_bg.jpg);
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slog_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: fit-content;
    height: fit-content;
    margin-bottom: 10%;
}

.title {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: calc(36px + 20 * (100vw / 1920));
    line-height: 112px;
    letter-spacing: 0.215em;
    color: #FFFFFF;
    text-shadow:
        2px 2px 2px #000000,
        0 2px 2px #000000,
        -2px 0 2px rgb(0, 0, 0),
        0 -2px 2px #000000,
        3px 3px 2px #000000,
        0 3px 2px #000000,
        -3px 0 2px #000000,
        0 -3px 2px #000000
}

.subtitle {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: calc(30px + 10 * (100vw / 1920));
    line-height: 47px;
    /* identical to box height */

    letter-spacing: 0.05em;
    text-align: center;
    color: #A7FFC0;
}

.buy_btn {
    text-decoration: none;
    padding: 1vh 2vw;
    border: 3px solid #85DB9D;
    border-radius: 13px;
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: calc(32px + 14 * (100vw / 1920));
    /* identical to box height */
    letter-spacing: 0.215em;
    color: #FFFFFF;
    text-shadow:
        2px 2px 2px #000000,
        0 2px 2px #000000,
        -2px 0 2px rgb(0, 0, 0),
        0 -2px 2px #000000;
    transition: 0.3s;
}

.buy_btn:hover {
    background: #85DB9D;
}

.main_content {
    background-image: url(../img/bgs/bg.jpg);
    width: 100vw;
    height: 3000px;
    border: 5px solid #85DB9D;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.additionally {
    height: 780px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.additionally h2 {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: calc(30px + 18 * (100vw / 1920));
    ;
    line-height: 84px;
    text-align: center;
    letter-spacing: 0.05em;

    color: #000000;
}

.carts_additionally {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 100%;
}

.cart_additionally {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;
    justify-content: center;
    width: 22vw;
    height: 450px;

    background: rgba(44, 44, 44, 0.88);
    border-radius: 20px;
}

.img_add {
    margin-bottom: 60px;
}

.cart_additionally p {
    font-family: 'Orelega One';
    font-style: normal;
    font-weight: 400;
    font-size: calc(24px + 8 * (100vw / 1920));
    ;
    height: 136px;
    text-align: center;
    letter-spacing: 0.215em;
    color: #FFFFFF;
}

.we_offer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0px;
    width: 100%;
}

.we_offer h2 {
    display: flex;
    justify-content: center;
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: calc(30px + 18 * (100vw / 1920));
    ;
    line-height: 84px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.commoditys {
    margin: 0 auto;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 90px;
}


.commodity {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px 0px 0px;
    gap: 25px;
    justify-content: space-between;
    width: 535px;
    height: 200px;

    background: #85DB9D;
    border-radius: 20px;
}


.desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 80%;
    height: 90%;
}

.commodity .desc p {
    width: 100%;
    height: 106px;

    font-family: 'Pacifico';
    font-weight: 400;
    font-size: calc(20px + 4 * (100vw / 1920));
    text-align: center;
    letter-spacing: 0.05em;

    color: #000000;
}

.commodity .desc a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 80%;
    height: 56px;
    border: 3px solid #000000;
    border-radius: 13px;
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: calc(16px + 10 * (100vw / 1920));
    ;
    line-height: 42px;
    letter-spacing: 0.215em;
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
}

.commodity .desc a:hover {
    background: #000000;
}

.mark {
    position: relative;
    width: 275.92px;
    height: 271.61px;
    left: -30%;
    bottom: 24.62px;
    background: url(_1fb0975c-e13e-44a4-8fb7-312ca9f59692.png);
    transform: rotate(-7.21deg);
    z-index: 4;
}


.contact_form {
    margin-top: 90px;
    width: 100vw;
    height: 600px;
    display: flex;
    justify-content: space-around;
    gap: 50px;
}



.social-media-in-form,
.feedback-form {
    display: flex;
    flex-direction: column;
    padding: 1%;
    width: 40%;
    justify-content: center;
    font-family: 'Post No Bills Jaffna SemiBold';
    font-style: normal;
    font-weight: 600;
}

.feedback-form {
    align-items: start;
}

.social-media-in-form h2,
.feedback-form h2 {
    font-size: calc(20px + 23 * (100vw / 1920));
    line-height: 57px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.215em;
    color: #FFFFFF;
}

.social-media-in-form h3,
.feedback-form h3 {
    font-size: calc(15px + 13 * (100vw / 1920));
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.215em;
    color: #FFFFFF;
}

.social-media-in-form h3 span,
.feedback-form h3 span {
    padding: 0 0 3px 0;
    border-bottom: 3px solid #85DB9D;
}

.inner-bloks {
    margin-top: 5%;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    font-family: 'Post No Bills Jaffna SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: calc(20px + 12 * (100vw / 1920));
    line-height: 48px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.215em;
    color: #FFFFFF;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    font-family: 'Post No Bills Jaffna SemiBold';
    font-style: normal;
    font-weight: 600;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.215em;
    color: #FFFFFF;
    width: 44%;
}

.contact h2,
.social-media h2 {
    display: flex;
    justify-content: start;
    font-size: calc(20px + 15 * (100vw / 1920));
    line-height: 48px;
    margin-bottom: 10%;
}

.contact p,
.social-media p {
    margin-bottom: 10%;
    font-size: calc(10px + 10 * (100vw / 1920));
    ;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.215em;
    width: 90%;
}

.contact p img {
    margin-right: 5%;
}

.social-media {
    justify-content: start;
    align-items: start;
    border-left: 2px solid #85DB9D;
    padding-left: 15px;
    width: 44%;
}

.feedback-form h3 {
    margin-bottom: 3%;
}

.feedback-form input,
textarea {
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 10px 10px 30px;
    gap: 10px;
    width: 100%;
    height: 71px;
    outline: none;
    background: rgba(133, 219, 157, 0.8);
    border-radius: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: calc(20px + 13 * (100vw / 1920));
    line-height: 39px;
    /* identical to box height */
    letter-spacing: 0.215em;
    color: #1f1f1f;
    margin-bottom: 3%;
}

.feedback-form button {
    padding: 10px;
    border: 3px solid #85DB9D;
    border-radius: 13px;
    background: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: calc(15px + 25 * (100vw / 1920));
    line-height: 47px;
    /* identical to box height */
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.23em;
    color: #85DB9D;
    transition: 0.3s;
}


.feedback-form button:hover {
    background: #85DB9D;
    color: #000000;

}

@media screen and (max-width: 1280px) {
    .feedback-form {
        width: fit-content;
    }

    .contact_form {
        justify-content: center;
    }

    .feedback-form {
        display: none;
    }

    .social-media-in-form h2,
    .feedback-form h2 {
        font-size: 35px;
    }

    .feedback-form input,
    textarea {
        width: 450px;
    }

    .cart_additionally p {
        width: 280px;
    }

    .commoditys{
        width: 100vw;
    }
    .commodity {
        width: 40%;
    }

    .commodity img {
        height: 100%;
    }

    .additionally {
        width: 100vw;
    }

    .cart_additionally {
        width: 280px;
    }
    .social-media-in-form{
        width: 70vw;
    }


}

@media screen and (max-width: 1024px) {
    .carts_additionally {
        overflow-x: auto;
        padding-bottom: 20px;
        /* Додатковий відступ, якщо потрібно */
        margin-bottom: -20px;
        /* Зміна відступу, якщо потрібно */
        scrollbar-width: none;
        /* Вимкнути показ лінії прокрутки для браузерів, що підтримують */
        -ms-overflow-style: none;
        /* Вимкнути показ лінії прокрутки для Internet Explorer та Edge */
        gap: 50px;
    }

    .carts_additionally::-webkit-scrollbar {
        display: none;
        /* Вимкнути показ лінії прокрутки для WebKit-браузерів (Chrome, Safari, Opera) */
    }

    .commodity {
        width: 500px;
    }

    .commoditys {
        flex-direction: column;
    }

    .comm_del {
        display: none;
    }
    .social-media-in-form{
        width: 80vw;
        height: 100%;
    }
}

@media screen and (max-width: 550px) {
    .contact_form{
        display: none;
    }
    .commodity {
        width: 90%;
        height: 35vw;
    }
    .commodity img{
        height: 100%;
    } 
    .main_content {
        height: 2000px;
    }
}

@media screen and (max-width: 430px){
    .commoditys {
        gap: 10px;
        flex-direction: column;
    }
    .commodity {
        flex-direction: column;
        height: fit-content;
        padding: 1% 0;
    }
    .comm_del_2{
        display: none;
    }
}