<html lang="en">
{% load static %}
<!--  -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="{% static 'base/base.css' %}">

    <script src="{% static 'js/jQuery.js' %}" defer></script>
    <script src="{% static 'js/script.js' %}" defer></script>
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
    <title>{% block title %}{% endblock%}</title>
</head>

<body>
    <input class="updater-url" value="{% url 'updater_count' %}" hidden>
    <input class="basket-url" value="{% url 'basket_page' %}" hidden>
    <input class="profile-url" value="{% url 'user_profile' %}" hidden>
    <header>
        <div class="inner-header">
            <img class="burger_menu" src="{% static 'img/header_logo/burger_menu.png' %}">
            <a class="logo" href="{% url 'main_page' %}">
                <img class="logo-img" src="{% static 'img/header_logo/logo.png' %}">
                <span class="logo-text">Coffee Mania</span>
            </a>
            <div class="menu-buttons">
                <a href="{% url 'main_page' %}" class="menu-button">Головна</a>
                <a href="{% url 'menu_page' %}" class="menu-button">Меню</a>
                <a href="{% url 'contact_page' %}" class="menu-button">Контакти</a>
            </div>
            <div class="basket_div basket_btn">
                <p class="products_amount">{{ product_count }}</p>
                <input class="product_ids" value="{{ product_ids }}" hidden>
                <img class="basket_btn" src="{% static 'img/header_logo/basket.png' %}">
            </div>

            <span class="profile_btn">{{ user.first_name }}<img src="{% static 'img/header_logo/profile.png' %}"></span>


        </div>

        <div class="inner_header_burger">
            <div class="burger_cross"> <span>&Cross;</span> </div>
            <div class="menu-burger-buttons">
                <a href="{% url 'main_page' %}" class="menu-burger-button">Головна</a>
                <a href="{% url 'menu_page' %}" class="menu-burger-button">Меню</a>
                <a href="{% url 'contact_page' %}" class="menu-burger-button">Контакти</a>
            </div>
            <span class="profile_burger_btn"><img src="{% static 'img/header_logo/profile_green.png' %}">{{
                user.first_name }}</span>
        </div>

    </header>
    <main>
        {% block content%}{% endblock %}
    </main>
    <footer>
        <div class="block_footer_info">
            <div class="inner-footer">
                <div class="first_block">
                    <div class="our-address">
                        <h2>Наша адреса</h2>
                        <p>-Проспект Дмитра Яворницького, 40, Дніпро</p>
                    </div>
                    <div class="navigation">
                        <h2>Навігація</h2>
                        <div class="">
                            <p><a href="{% url 'main_page' %}" class="">Головна</a></p>
                            <p><a href="{% url 'menu_page' %}" class="">Меню</a></p>
                            <p><a href="{% url 'contact_page' %}" class="">Контакти</a></p>
                        </div>

                    </div>
                </div>

                <div class="second_block">
                    <div class="contacts">
                        <h2>Контакти</h2>
                        <p><img src="{% static 'img/social_media/phone.png' %}">Тел. +380 00 000 0000</p>
                        <p><img src="{% static 'img/social_media/email.png' %}">coffemania@gmail.com</p>
                    </div>
                    <div class="social-networks">
                        <h2>Соцмережі</h2>
                        <p><img src="{% static 'img/social_media/tg.png' %}">coffemania-telegram</p>
                        <p><img src="{% static 'img/social_media/tw.png' %}">coffemania-twitter</p>
                        <p><img src="{% static 'img/social_media/ws.png' %}">coffemania-whatsapp</p>
                        <p><img src="{% static 'img/social_media/tt.png' %}">coffemania-tiktok</p>
                        <p><img src="{% static 'img/social_media/yt.png' %}">coffemania-youtube</p>
                    </div>
                </div>

            </div>
            <a class="logo logo-footer" href="{% url 'main_page' %}">
                <img class="logo-img" src="{% static 'img/header_logo/logo.png' %}">
                <div class="logo-text"><span>Coffee Mania</span></div>

            </a>
        </div>
    </footer>

    <div class="modal-basket"></div>
    <div class="modal-basket-cloth"></div>
    <div class="modal-profile"></div>

    </div>
</body>

</html>